<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689301457768-r01s0gij98f5eich426ljt7pg6e37a3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689301457768-r01s0gij98f5eich426ljt7pg6e37a3j</string>
	<key>API_KEY</key>
	<string>AIzaSyC773Mq-5UtSD24rg9pEdkzfzJHByFLsVo</string>
	<key>GCM_SENDER_ID</key>
	<string>689301457768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galaxies.firebase</string>
	<key>PROJECT_ID</key>
	<string>eatguru-8a4f5</string>
	<key>STORAGE_BUCKET</key>
	<string>eatguru-8a4f5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689301457768:ios:fc854182f5b33da1cde4dd</string>
</dict>
</plist>